
.text-title{
	font: 24px "Trebuchet MS", "Lucida Sans";
	line-height: 50px;
	font-weight: 800;
	margin-top: 10px;
}

.delivery-container{
	margin: 10px auto;
	padding: 2%;
}

.delivery-list
{
	padding-top: 20px;
	padding-left: 20px;
}

.delivery-list li{
	list-style: none;
	padding-bottom: 10px;
}
