	{% extends "base.html" %}

	{% block styles %}
	<link rel="stylesheet" href="static/css/basket_styles.css">
	{% endblock %}
	
	{% block content %}
	<script type="text/javascript">

		function CheckSum()
		{
			var table = document.getElementById('goods-table');
			var row_len = table.rows.length;
			var sum = 0;
			for(i = 1; i < row_len; i++)
			{
				console.log(table.rows[i].cells[3].textContent);
				sum += Number(table.rows[i].cells[3].textContent);
			}
			document.getElementById('outcome-price').textContent = String(sum) + '.00'
		}

		function CheckPrice(id)
		{
			var quantity = Number(document.getElementById('prod_number_'+id).value);
			var one_price = Number(document.getElementById('price-'+ id).textContent);
			document.getElementById('price-script-'+id).textContent = String(quantity * one_price)+".00"
			CheckSum();
		}
		function CounterUp(id)
		{
			if(Number(document.getElementById('counter-up-'+id).value) > Number(document.getElementById('prod_number_'+id).value))
			{
				document.getElementById('prod_number_'+id).value = Number(document.getElementById('prod_number_'+id).value) +1;
			}
			CheckPrice(id);
		}

		function CounterDown(id)
		{
			if (Number(document.getElementById('prod_number_'+id).value) > 1)
			{
				document.getElementById('prod_number_'+id).value = Number(document.getElementById('prod_number_'+id).value) - 1;
				CheckPrice(id);
			}
		}

		function CheckBasket()
		{
			var table = document.getElementById('goods-table');
			if (sessionStorage.getItem('logged_in')) {
				document.getElementById('author-button').style.display = 'none';
				if(table.rows.length > 1) {
					document.getElementById('order-button').style.display = 'block';
				}
				else {
					document.getElementById('order-button').style.display = 'none';
				}
			}
			else{
				document.getElementById('author-button').style.display = 'block';
				document.getElementById('order-button').style.display = 'none';
			}
			user_background();
		}
		window.onload = CheckBasket;
	</script>
		 <div class = "main-body" >

		 	<h2 class = "basket-script">Корзина</h2>

		 	<div class = "basket-interface">
				<span class = "goods-span"><b>Товары в корзине({{ len }})</b>
					<span class = "ready-button">Готовые к заказу({{ len }})</span>
				</span>
			</div> 
			<form id="delete" action="/basket" method="POST">
			</form>
			<form style="display: block; width: 100%;" action="/make-order" method="POST">
			<table border = "1" width = "100%" id = "goods-table" >

				<tr class="decor" width = "100%">
					<td class = "long-column">
						<h3>Товары</h3>
					</td>
						
					<td class = "short-column">
						<h3>Цена</h3>
					</td>

					<td class = "short-column">
						<h3>Количество</h3>
					</td>

					<td class = "short-column">
						<h3>Сумма</h3>
					</td>

					<td class = "short-column">
						<h3>Действие</h3>
					</td>
				</tr>
				{% for item in products %}
				<tr>
					<td class = "long-white-column">
						<div class = "good-taker">
							<img class = "diary-img" onload="CheckPrice('{{item.id}}')" src = "static/css/images/{{item.image}}"/>
								<div class = "good-container">
									<h3 align = "left"><font color = "#6f8da9">{{item.name}}<br>Страна: {{item.country}}</h3>							
								</font>
							</div>
						</div>
					</td>

					<td valign="top" class = "short-white-column">
						<div class = "price-taker">
							<h3 style = "font-size:1.6em; color:#cf9294;" value = "{{item.price}}" id = "price-{{ item.id }}">{{item.price}}.00</h3>
							<h3 style = "font-size:1.6em; color:#cf9294;" > грн</h3>
						</div>
					</td>

					<td valign="top" class = "short-white-column">
							<div class = "amount-taker">
								
								<div class = "amount-block">
									<p id="counter">
									Количество:
									<input id="prod_number_{{ item.id }}" name="prod_number_{{ item.id }}" type="text" value="{{item.number}}">
								<button type="button" onclick="CounterUp('{{ item.id }}')" id="counter-up-{{ item.id }}" value="{{item.quantity}}">+</button>
								<button type="button" onclick="CounterDown('{{ item.id }}')" id="counter-down-{{ item.id }}">-</button>
									шт
									</p>

								<div class = "status-block">
									<h3 class = "status-script">Статус:</h3>\
									{% if item.quantity > 0 %}
									<h3 class = "in-stock">есть в наличии</h3>
									{% else %}
									<h3 class = "in-stock">нет в наличии</h3>
									{% endif %}
								</div>
						</div>
					</td>

					<td valign="top" class = "short-white-column">
						<div class = "sum-taker">
							<h3 style = "font-size:1.6em; color:#cf9294;" id= "price-script-{{item.id}}"> 00.00</h3>
						</div>
					</td>

					<td valign="top" class = "short-white-column">
						<div class = "action-taker">
							<button form="delete" name="delete-{{item.id}}" value="{{item.id}}" class = "delete-button" type="submit" ><b>Удалить</b></button>
						</div>
					</td>
				</tr>
				{% endfor %}
			</table>

			<div class = "report-block">
				<button id="order-button" type="submit">Оформить заказ</button>
				<a href="{{ url_for('registration') }}" id="author-button" >Регистрация/Авторизация</a>
				<span>
					<text class = "outcome-script"><b>Итого: </b></text><text id= "outcome-price"> 00.00</text><text class = "uah"> грн.</text>
				</span>
			</div>
			</form>
		</div>
{% endblock %}