	{% extends "base.html" %}

	{% block styles %}

	<link rel="stylesheet" href="static/css/catalog_styles.css">

	{% endblock %}

	{% block content %}
	<main>
		<article class="catalog-wrapper">
			<div class="filter-block">
				<p class="block-title">&nbsp&nbsp Фильтры: </p>
				<form>
					<div class="price-block">
						<p style="margin-top: 0px; border-bottom:0" class="filter-title">Цена</p>
						<span class="price-line"> от: <input type="text" placeholder="0" class="price-input"> до: <input type="text" placeholder="99999" class="price-input"></span>
					</div>
					<div class="product-block">
						<button type="button" class="filter-title open-list" onclick="ShowList(1)">Категории ▽ ▽ ▽</button>
						<ul id="list1" class="list-filters" tabindex="1">
						
						{% for kind in kinds %}
						
						<li class="flag"><input type="checkbox" class="check-filter" name="kind-{{ kind.weight }}"> {{ kind.name }}</li>

						{% endfor %}

						</ul>
					</div>
					<div class="trademark-block">
						<button type="button" class="filter-title open-list" onclick="ShowList(2)">Торговые марки▽ ▽ ▽</button>
						<ul id="list2" class="list-filters" tabindex="1">

						{% for country in countries %}
						
							<li class="flag"><input type="checkbox" class="check-filter" name="country-{{ country.weight }}">{{ country.name }}</li>
						
						{% endfor %}
						</ul>
					</div>
					<div class="filter-submit-block">
					<!-- Тут будет JS функция для очистки всех chekbox-->
						<button type="button" id="unchecked" onclick="UncheckAll()">Сбросить фильтры</button>
					<!-- Тут будет запрос к базе и серверу для формирования каталога товаров соответственно новым фильтрам-->
						<button type="button" id="pull-request" >Отправить</button>
					</div> 
				</form>
			</div>
			<div class="catalog-block">
				<div class="items-container">
					{% for item in products %}
					<div class="product-item">
						<a href="" class="product-link">
							<div class="product-link-body">
								<img src="static/css/images/{{ item.image }}" alt="">
								<p class="product-name">{{ item.name }}</p>
								<p class="product-price" value="{{ item.price }}">{{ item.price }}.00 грн</p>
							</div>
						</a>
					</div>
			        {% endfor %}
				</div>
			</div>
		</article>
	</main>
		<script type="text/javascript">
		function ShowList(number)
		{
			if(document.getElementById('list'+number.toString()).style.display == 'block')
			{
				document.getElementById('list'+number.toString()).style.display = 'none'
			}
			else{
			document.getElementById('list'+number.toString()).style.display = 'block';
			}
		}
		function UncheckAll()
		{
			var checkboxes = document.getElementsByClassName('check-filter')
			for (var i =0; i < checkboxes.length;i++)
			{
				checkboxes[i].checked = false;
			}
		}
	</script>
	{% endblock %}