{% extends "base.html" %}

{% block styles %}

<link rel="stylesheet" href="static/css/delivery_styles.css">

 {% endblock %}

{% block content %}
		<main>
			<article class="delivery-container">
			<p><h1 style="margin-bottom: 30px;" class = "corp_name">Оплата/Доставка</h1></p>
<p class = "text-design">Уважаемые покупатели, обращаем ваше внимание, что <b>минимальная сумма заказа -100 грн.</b></p> 

<p class = "text-design">После того как вы оформили заказ - обязательно дождитесь звонка от нашего менеджера для подтверждения наличия товара.</p>
<p class = "text-design"><b>Способы оплаты:</b></p>
<ul class="delivery-list">

<li><p class = "text-design">* наличный расчет (оплата осуществляется в момент передачи курьером вашего заказа или при самовывозе со склада);</p></li>

<li><p class = "text-design">* оплата на карту Приват-Банка;</p></li>

<li><p class = "text-design">* наложенный платёж (заказ оплачивается в момент получения товара на отделении службы доставки в вашем городе);</p></li>

<li><p class = "text-design">* безналичный.</p></li>
</ul>
<p class = "text-design">ДОСТАВКА</p>
<p class = "text-design">*Самовывоз интернет-заказов</p>

      <p class = "text-design">г.Днепр, ул.Яворницкого, 35</p>
      <p class = "text-design">Понедельник-Пятница с 9:00 до 18:00</p>

<p class = "text-design">*Доставка товаров в любую точку Украины</p>
     <p class = "text-design">- новая почта</p>
     <p class = "text-design">- укр. почта</p>
<p class = "text-design">Стоимость пересылки рассчитывается согласно тарифам перевозчика. Сроки доставки по Украине зависят от работы конкретной транспортной компании и адреса покупателя.</p>

<p class = "text-design">*Проверка товара</p>

<p class = "text-design">Проверку заказа на предмет целостности упаковки и отсутствия внешних повреждений товара мы рекомендуем осуществлять на месте — в отделении службы доставки. При наличии повреждения товара при перевозке требуйте от работников службы доставки составить акт с указанием характера повреждения товара и сообщите об этом нам!</p>

<p class = "text-design">Обратите внимание! При доставке до склада транспортной компании, заказ хранится на складе не более 5 рабочих дней, после чего отправляется обратно!</p>
</article>
	</main>
{% endblock %}