{% extends "base.html" %}

{% block styles %}

<link rel="stylesheet" type="text/css" href="static/css/main_page_styles.css">

{% endblock%}

{% block content %}
	<main>
		<h1 style= "width: 240px;" class = "corp_name">Товары</h1>
		<article class="advantages-container">
      		<div class="advantages">
        		<div class="advantages-item">
        			<div class = "link-img">
                        <a><img src="static/css/images/main_images/Stationery.jpg" alt="" /></a>
                    </div>
        			<p class = "category-name">Канцтовары</p>
        			<ul class = "rounded">
        				<li><a href="#">Ручки, стержни</a></li>
        				<li><a href="#">Маркеры</a></li>
        				<li><a href="#">Корректоры</a></li>
        				<li><a href="#">Циркули</a></li>
        				<li><a href="#">Наборы черчения</a></li>
        				<li><a href="#">Ножницы</a></li>
        				<li><a href="#">Скотч</a></li>
        			</ul>
        		</div>
        		<div class="advantages-item">
        			<div class = "link-img"><a><img src="static/css/images/main_images/Schoolbag.jpg" alt="" /></a></div>
        			<p class = "category-name">Портфели</p>
        			<ul class="rounded">
        				<li><a href="#">Ранцы</a></li>
        				<li><a href="#">Рюкзаки</a></li>
        				<li><a href="#">Сумки</a></li>
        				<li><a href="#">Сумки для обуви</a></li>
        			</ul>
        		</div>
        		<div class="advantages-item">
        			<div class = "link-img">
                        <a href = "Catalog_Template.html"><img src="static/css/images/main_images/Books.jpg" alt="" /></a>
                    </div>
        			<p class = "category-name">Книги</p>
        			<ul class="rounded">
        				<li><a href="#">Энциклопедии</a></li>
        				<li><a href="#">ГДЗ</a></li>
        				<li><a href="#">ЗНО</a></li>
        				<li><a href="#">Словари</a></li>
        				<li><a href="#">Справочники</a></li>
        				<li><a href="#">Сборники заданий</a></li>
        				<li><a href="#">Классика</a></li>
        			</ul>
        		</div>
        		<div class="advantages-item">
        			<div class = "link-img">
                        <a><img src="static/css/images/main_images/Creative.jpg" alt="" /></a>
                    </div>
        			<p class = "category-name">Творчество</p>
        			<ul class="rounded">
        				<li><a href="#">Альбомы</a></li>
        				<li><a href="#">Мел, пастель</a></li>
        				<li><a href="#">Фломастеры</a></li>
        				<li><a href="#">Карандаши</a></li>
        				<li><a href="#">Полотна</a></li>
        				<li><a href="#">Краски</a></li>
        				<li><a href="#">Пластелин</a></li>
        			</ul>
        		</div>
        		<div class="advantages-item">
        			<div class = "link-img">
                        <a><img src="static/css/images/main_images/Toys.jpg" alt="" /></a>
                    </div>
        			<p class = "category-name">Игрушки</p>
        			<ul class="rounded">
        				<li><a href="#">Кинетический песок</a></li>
        				<li><a href="#">Картины по номерам</a></li>
        				<li><a href="#">Конструкторы<</a></li>
        				<li><a href="#">Пазлы</a></li>
        				<li><a href="#">Шахматы</a></li>
        				<li><a href="#">Мягкие игрушки</a></li>
        				<li><a href="#">Головоломки</a></li>
        			</ul>
        		</div>
      </div>
   </article>
   	<article class="about-us-container">
		<p><h1 class = "corp_name">О Нас </h1></p>	

		<h3 style="margin-top: 20px;">
            <p class = "text-design">Приветствуем вас на странице интернет-магазина <b>«Lab3»</b>. Уже более 10 лет наша компания успешно занимается торговлей канцелярских товаров и книг. В состав нашей фирмы входит сеть розничных магазинов и теперь мы рады представить всей Украине нашу онлайн витрину, где представлен широкий выбор канцелярских товаров, печатной продукции, товаров для творчества, умных игрушек и многое другое.</p>

   <p class="text-design">Мы являемся представителями крупнейших производителей и импортеров канцелярских товаров, а также  книжных издательств, благодаря чему можем предложить <b>привлекательные цены</b>.</p>

   <p class="text-design">Стратегия магазина <b>«Lab3»</b> строится на постоянном расширении и обновлении ассортимента. Для наших клиентов мы всегда можем предложить <b>качественные товары</b> и обеспечить комфортные условия сотрудничества.</p>

   <p style="padding-top: 20px" class="text-design">Наша миссия:</p>

<p class="text-design">- стать надежным и выгодным партнером;</p>

<p class="text-design">- предоставить первоклассный сервис;</p>

<p class="text-design">- достичь высокого уровня доверия; </p>

<p class="text-design">- превзойти ожидания. </p>
</h3>
	</article>
	</main>

{% endblock %}
