{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="static/css/privacy_policy_styles.css">
{% endblock %}

{% block content %}
<main>
	<article class="privacy-container">
	<p><h1 style="margin-bottom: 30px;" class = "corp_name">Политика конфиденциальности</h1></p>

<p class ="text-title">Какую информацию мы собираем и как мы ее используем?</p>
<p class = "text-design">Всю информацию, которую Вы оставляете на нашем сайте, мы будем использовать только для обеспечения максимально удобного сервиса для Вас при заказе в нашем интернет-магазине.</p>
<p class = "text-design">Чтобы зарегистрироваться на нашем сайте, Вам необходимо указать свое имя, фамилию, адрес электронной почты, телефон, иную информацию, предусмотренную специальной формой на сайте, а также ввести свои логин и пароль, которые Вы будете использовать в дальнейшем для входа на сайт в качестве зарегистрированного пользователя.</p>

<p class = "text-design">Для того чтобы оформить заказ на сайте без регистрации, Вам необходимо указать следующую информацию о себе: имя, фамилия, адрес доставки, включая город и почтовый индекс, телефон для связи и электронный адрес, а также предпочтительное для Вас время доставки. Электронная почта и телефон необходимы, чтобы мы могли связаться с Вами, если у нас возникнут вопросы по заказу. Мы будем использовать Ваши личные данные только для целей, связанных с Вашим заказом, например, чтобы уведомить Вас о наличие товара или о статусе доставки.</p>


<p class="text-title">Неразглашение персональной информации третьим лицам</p>
<p class = "text-design">Один из основных принципов нашей работы - обеспечение надлежащей защиты Ваших персональных данных, которые не могут быть переданы третьим лицам без Вашего на то согласия. Для выполнения Вашего заказа мы работаем с поставщиками услуг, которым мы предоставляем необходимую информацию о Вас (фамилия, имя, почтовый адрес, телефон и прочее). При этом с нашей стороны и со стороны наших поставщиков предпринимаются все необходимые меры для обеспечения конфиденциальности и безопасности данных, которые Вы нам предоставляете, при их обработке.</p>


<p class="text-title">Будет ли <b>Lab3</b> использовать эту информацию для каких-либо других целей в будущем?</p>
<p class = "text-design">Интернет-магазин <b>«Lab3»</b> не будет передавать Ваши персональные данные третьим лицам (кроме третьих лиц, которые участвуют в процессе обработки и доставки Ваших заказов), если Вы не дали на это своего предварительного согласия. Вы можете проверить и изменить свои личные данные в любое время, а также отозвать свое согласие на дальнейшее их использование, если пожелаете. В этом случае мы перестанем обрабатывать Ваши данные, удалив их из нашей системы. Это никак не повлияет на процесс выставления счетов за сделанные Вами заказы.</p>


<p class="text-title">Меры предосторожности, которые Вам необходимо самостоятельно предпринять для защиты персональных данных:</p>
<ul class="privacy-list">
	<li><p class = "text-design">Никогда не сообщайте свой логин и пароль другим людям</p>
	<li><p class = "text-design">Используйте максимально надежный пароль для входа, желательно из комбинации букв и цифр</p></li>
	<li><p class = "text-design">Меняйте пароль на регулярной основе</p></li>
	<li><p class = "text-design">Убедитесь, что вы используете безопасный SSL-браузер для выхода в Интернет</p></li>
	<li><p class = "text-design">Если Вы пользуетесь компьютером в местах общественного пользования Интернетом (интернет-кафе) или делите компьютер с другими пользователями (например, на работе в офисе), мы рекомендуем Вам всегда выходить с сайта после посещения интернет-магазина, чтобы исключить случаи покупок на сайте другими пользователями под Вашим именем и паролем. Для этого перейдите в раздел "Мой профиль" и нажмите кнопку "Выход".</p></li>
	<li><p class = "text-design">В случае несоблюдения данных мер предосторожности мы не будем нести ответственность за разглашение Ваших данных.</p></li>
</ul>
</article>
	</main>
{% endblock %}