{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="static/css/user_template_styles.css">
{% endblock %}

{% block content %}
	 <script type="text/javascript">
		function ShowHistory(){
			if(document.getElementById('order-table').style.display == 'block') {
			document.getElementById('order-table').style.display = 'none';
			}
			
			else{
			document.getElementById('order-table').style.display = 'block';
			}
		};
		
		window.onload = function(){ 
		  	sessionStorage.setItem('logged_in', true);
		  	user_background();
		  	document.getElementById('logout').style.display = 'none';
		}

		function DeleteWindow(){
			sessionStorage.removeItem('logged_in');
			var win = window.open('{{ url_for('delete_user') }}', 'Предупреждение!', 'width=600px,height=400px');

		}

	</script>
		<div class = "main-body">
				<text class = "user-page-script">Страница пользователя</text>
					<text class = "user-line">
						Имя:
						<i>{{ person.name }}</i>, 
						Фамилия:
						<i>{{ person.surname }}</i>
					</text>
					<text class = "user-line">
						Почта:
						<i>{{ person.email }}</i>
					</text>
					<text class = "user-line">
						Номер телефона:
						<i>{{ person.phone }}</i>
					</text>
					<text class = "user-line">
						Город:
						<i>{{ person.city }}</i>, Почтовый индекс:<i>{{ person.mail_index }}</i></text>

					<div class = "button-taker">
						<button id="history_button" type="button" onclick="ShowHistory()">История заказов</button>
						<button id="delete_button" type="button" onclick="DeleteWindow()">Удалить аккаунт</button>
					</div>
					<table id="order-table" width="400px">
						<tr>
							<td width="180px;">Номер заказа</td>
							<td width="220px;">Статус</td>
						</tr>
						{% for order in orders %}
						<tr>
							<td>Заказ № <a href="/order-{{order.id}}">{{order.id}}</a></td>
							{% if order.status == 0 %}
							<td>Не готов</td>
							{% elif order.status == 1 %}
							<td>В пути</td>
							{% elif order.status == 2 %}
							<td>Готово</td>
							{% elif order.status == 3 %}
							<td>Отменён</td>
							{% endif %}
						</tr>
						{% endfor %}
					</table>
        </div>
{% endblock %}